
.top{
    text-align: center;
    width: 100%;
    font-size: clamp(1.375rem, 2vw, 4rem);
    padding: 3%;
    display: -ms-inline-grid;
}
.top > a{
    /* margin: 2%; */
    margin-left: 4%;
}


.main{
    text-align: center;
    display: grid;
    row-gap: 5%;
}
.main-title{
    font-size: clamp(2rem, calc(4vw + 1rem), 5rem);
    font-weight: 600;
}

.main-opis{
    margin-left: 25%;
    width: 50%;
    font-size: clamp(0.9rem, 1.5vw, 2rem);
}

.main-przycisk{
    width: 80%;
    margin-bottom: 70%;
    justify-self: center;

}

.przycisk-wiecej{
    color: black;
    font-size: clamp(1rem, 1.5vw, 2rem);
    background-color: lightgray;
    border-radius: 0.625rem;
    width: auto;
    height: auto;
    padding: 4%;
    text-decoration: none;
}
